---
import styles from "./menuItem.module.scss";

type Props = {
  title: string;
  price?: string;
} & (
  | {
      description: string;
      descriptions?: undefined;
    }
  | {
      description?: undefined;
      descriptions: string[];
    }
);

const { title, description, descriptions, price } = Astro.props;
---

<div class={styles.menuItem}>
  <div>
    <p>{title}</p>
    {price && <p>{price}</p>}
  </div>
  {descriptions ? descriptions.map((e) => <p>{e}</p>) : <p>{description}</p>}
</div>
