---
import { withCache, getMenu } from "../../utils/menu";
import MenuSection from "../MenuSection.astro";
import PageSection from "../PageSection.astro";

type MenuItemType = {
  name: string;
  description?: string;
  price?: string;
};

const mockImage =
  "https://images.stockcake.com/public/3/4/5/345b1455-7163-4193-bc6d-783566c3f208_large/majestic-mountain-cow-stockcake.jpg";

const { plates, sandwiches, salads, sides } = await withCache(() =>
  getMenu(import.meta.env.MENU_SHEET_ID)
);
---

<PageSection title="Food Truck Menu">
  <div class="grid grid-cols-2 gap-4">
    <MenuSection title="Plates" items={plates} />
    <MenuSection title="Sandwiches" items={sandwiches} />
    <MenuSection title="Salads" items={salads} />
    <MenuSection title="Sides" items={sides} />
  </div>

  <p class="text-center">"Best burger I’ve had in a long time." - Joe</p>
  <p class="text-center">"The breakfast sandwich is top notch." - Nico</p>
  <img src={mockImage} />
</PageSection>
