---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import PageLogo from "../components/pageLogo/PageLogo.astro";
import Circle from "../components/circle/Circle.astro";

import schlopStopImg from "../assets/schlop-logo.png";
import phoneImg from "../assets/phone.svg";
import emailImg from "../assets/email.svg";
import instagramImg from "../assets/instagram-256.png";

import styles from "./index.module.scss";
---

<Layout title="Schlop Stop" class={styles.layout}>
  <p class={styles.title}>Schlop Stop</p>
  <Image src={schlopStopImg} height={200} width={200} alt="'Schlop Stop Logo" />

  <!-- <p class={styles.description}>
    Building community through growing, preparing, and serving nourishment for
    all.
  </p> -->

  <div class={styles.grid}>
    <a href="/menu" class={styles.gridElement}>
      <p>Menu</p>
    </a>
    <a href="/catering" class={styles.gridElement}>
      <p>Catering</p>
    </a>
    <a href="/about" class={styles.gridElement}>
      <p>About Us</p>
    </a>
    <a href="/farm" class={styles.gridElement}>
      <p>Sunburns Farm</p>
    </a>
  </div>

  <h2 class={styles.contactTitle}>Contact Us</h2>

  <div class={styles.contactContainer}>
    <a href="https://www.instagram.com/schlopstop/" class={styles.icon}>
      <Circle border="3px solid var(--red)">
        <Image
          src={instagramImg}
          alt="instagram icon"
          style={{ width: "24px", height: "24px" }}
        />
      </Circle>
      <p>Instagram</p>
    </a>

    <a href="mailto:contact@schlopstop.com" class={styles.icon}>
      <Circle border="3px solid var(--red)">
        <Image
          src={emailImg}
          alt="instagram icon"
          style={{ width: "24px", height: "24px" }}
        />
      </Circle>
      <p>Email Us</p>
    </a>

    <a href="tel:215-756-1916" class={styles.icon}>
      <Circle border="3px solid var(--red)">
        <Image
          src={phoneImg}
          alt="instagram icon"
          style={{ width: "24px", height: "24px" }}
        />
      </Circle>
      <p>Call Us</p>
    </a>
  </div>

  <!-- 
  <p
    style={{
      textAlign: "center ",
      fontSize: "36px",
      color: "#c24040",
      marginTop: "24px",
      fontWeight: "900",
    }}
  >
    MENU
  </p>

  <MenuSectionTitle title="Plates" />

  <MenuItem
    title="Falafel Plate"
    description="Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini"
    price="$13"
  />

  <MenuItem
    title="Farm Plate"
    description="Goat Cheese Mashed Potatoes, Roasted Veggies, Grilled Chicken"
    price="$15"
  />

  <MenuItem
    title="Custom Plates"
    descriptions={["Choose 2 sides + 1 salad", "Choose 3 sides + 1 salad"]}
  />

  <MenuItem
    title="Special Plates"
    description="Weekly special from the farm"
    price="**"
  />

  <MenuSectionTitle title="Sandwiches" />

  <MenuItem
    title="Falafel Wrap"
    description="4 Falafel balls with lettuce, tomato, onion, and tahini in a pita wrap (make it spicy tahini)"
    price="$10"
  />

  <MenuItem
    title="Chicken Sandwich"
    description="Grilled Chicken, garlic aioli, lettuce, tomato, pickled onion on brioche"
    price="$12"
  />

  <MenuItem
    title="Special Sandwich"
    description="Weekly special from the farm"
    price="$13"
  />

  <MenuSectionTitle title="Salads" />

  <MenuItem
    title="Farm Salad"
    description="Salad Mix, Seasonal veggies, choose of dressing"
    price="$8"
  />

  <MenuItem
    title="Garlic Crunch Salad"
    description="Salad Mix, Seasonal veggies, granola, dried fruit, garlic olive oil, topped with goat cheese"
    price="$10"
  />

  <MenuSectionOptions />

  <MenuSectionTitle title="Sides" />

  <MenuItem title="Farm Fries" description="French fries" price="$5" />

  <MenuItem title="Fried Chicken Thighs" description="5 pieces" price="$8" />

  <MenuItem
    title="Goat Cheese Mashed Potatoes"
    description="Mashed Potatoes mixed with goat cheese, butter, garlic, and leak"
    price="$5"
  />

  <MenuItem
    title="Roasted Veggies"
    description="Roasted Seasonal Vegetables"
    price="$4"
  />

  <MenuItem
    title="Falafel Balls"
    description="4 balls with a side of tahini"
    price="$7"
  />

  <MenuItem
    title="Hummus"
    description="Small bowl of hummus served with pita"
    price="$6"
  />

  <MenuItem
    title="Special Sides"
    description="Weekly specials from the farm"
    price="**"
  /> -->
</Layout>
