---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import schlopStopImg from "../assets/schlop-stop.png"; // Image is 1600x900
import styles from "./index.module.scss";
---

<Layout title="Schlop Stop">
  <p class={styles.title}>SCHLOP</p>
  <!-- <Image src={schlopStopImg} alt="'Schlop Stop Logo" /> -->
  <p class={styles.title}>STOP</p>

  <p class={styles.description}>
    Building community through growing, preparing, and serving nourishment for
    all
  </p>

  <div class={styles.menuTitle}>
    <h2>MENU</h2>
    <div></div>
  </div>

  <p class={styles.menuSubsectionTitle}>Plates</p>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <p class={styles.menuSubsectionTitle}>Sandwiches</p>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <p class={styles.menuSubsectionTitle}>Sandwiches</p>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <p class={styles.menuSubsectionTitle}>Sandwiches</p>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <p class={styles.menuSubsectionTitle}>Sandwiches</p>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <p class={styles.menuSubsectionTitle}>Sandwiches</p>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <p class={styles.menuSubsectionTitle}>Sandwiches</p>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <p class={styles.menuSubsectionTitle}>Sandwiches</p>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>

  <div class={styles.menuItem}>
    <div>
      <p>Falafel Plate</p>
      <p>$13</p>
    </div>
    <p>
      Four (4) Falafel balls on Farm Salad, side of Mujadara, topped with Tahini
    </p>
  </div>
</Layout>
