---
import { Image } from "astro:assets";
import Circle from "../circle/Circle.astro";

import phoneImg from "../../assets/phone.svg";
import emailImg from "../../assets/email.svg";

import styles from "./header.module.scss";
---

<header class={styles.header}>
  <nav class={styles.nav}>
    <h1>Schlop Stop</h1>

    <a href="mailto:contact@schlopstop.com" class={styles.navItem}>
      <Circle>
        <Image src={emailImg} alt="email icon" />
      </Circle>
      <p>contact@schlopstop.com</p>
    </a>

    <a href="tel:215-756-1916" class={styles.navItem}>
      <Circle>
        <Image src={phoneImg} alt="phone icon" />
      </Circle>
      <p>215-756-1916</p>
    </a>
  </nav>
</header>
