---
import cn from "classnames";

import { Image } from "astro:assets";
import Circle from "../circle/Circle.astro";

import instagramImg from "../../assets/instagram-white-24.png";
import phoneImg from "../../assets/phone-white-24.png";
import emailImg from "../../assets/email-white-24.png";

import styles from "./header.module.scss";

const { pathname } = new URL(Astro.request.url);
---

<header class={styles.header}>
  <div class={styles.container}>
    <a
      href="/"
      class={pathname === "/" ? `${styles.logo} underlined` : styles.logo}
    >
      Schlop Stop
    </a>

    <a
      href="https://drive.google.com/file/d/1lQnXic4f19HyEiq9rXZHFfM-LJ6nqiyg/preview"
      class={styles.link}
    >
      Menu
    </a>

    <a
      href="/catering"
      class={cn(styles.link, { [styles.active]: pathname === "/catering" })}
    >
      Catering
    </a>

    <a
      href="/about"
      class={cn(styles.link, { [styles.active]: pathname === "/about" })}
    >
      About
    </a>

    <a
      href="/farm"
      class={cn(styles.link, { [styles.active]: pathname === "/farm" })}
    >
      Sunburns Farm
    </a>

    <a href="https://www.instagram.com/schlopstop/" class={styles.icon}>
      <Circle border="3px solid var(--white)">
        <Image src={instagramImg} alt="instagram icon" />
      </Circle>
    </a>

    <a href="mailto:contact@schlopstop.com" class={styles.icon}>
      <Circle border="3px solid var(--white)">
        <Image src={emailImg} alt="email icon" />
      </Circle>
    </a>

    <a href="tel:215-756-1916" class={styles.icon}>
      <Circle border="3px solid var(--white)">
        <Image src={phoneImg} alt="phone icon" />
      </Circle>
    </a>
  </div>
</header>
